This is the functionality we're looking for

We need a vertical sortable list that has to item types

One item type has a nested dropzones

The other item type does not have a nested dropzones

Basically, we should be able to drag and drop a nested item to the top-level list but also we be able to drag a top level item into a nested list

