This is the functionality we're looking for

We need a vertical sortable list that accomplishes the following

When we start dragging, there should be a container next to each draggable card

When the card that is dragging has gone further in the x direction than the root container

We then need to disable the drag-and-drop in the main list

We need an indicator when we've entered the dropzones to the right of the main sortable list